body
{
  background: #c2fdff;
}

.header_div
  {
  background: #a59eff;
  color: white; 
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #000000;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   line-height: 3;
   text-align: center;
}